# Site settings
title: "Hyun-seok Jung's AI-BOX"
email: ddobal@gmail.com
description: >-
  Personal research blog.
baseurl: "/AI-BOX"
url: "https://ddobal.github.io"

# Theme
theme: al-folio

# Build settings
markdown: kramdown
highlighter: rouge

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-scholar

paginate: 5

# Collections
collections:
  posts:
    output: true
    permalink: /blog/:title/

  pages:
    output: true
    permalink: /:title/

  news:
    output: true
    permalink: /news/:path/

  projects:
    output: true
    permalink: /projects/:path/

# publications removed to avoid Jekyll build errors

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"

  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

# Scholar (for Google Scholar bibtex)
scholar:
  style: apa
  locale: en

publications: false
selected_papers: false

# Exclude
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - README.md
