title: "Hyun-seok Jung's AI-BOX"
email: ddobal@gmail.com
description: "Personal research blog."

url: "https://ddobal.github.io"
baseurl: "/AI-BOX"

markdown: kramdown
highlighter: rouge

collections:
  posts:
    output: true
    permalink: /blog/:title/
  pages:
    output: true
    permalink: /:title/
  projects:
    output: true
    permalink: /projects/:path/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
  - scope:
      path: ""
      type: "pages"
    values:
      layout: page
  - scope:
      path: ""
      type: "projects"
    values:
      layout: project

publications: false
selected_papers: false
scholar: false

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - README.md
